body {
  color: #000000;
}

canvas {
  background-color: #FFFFFF;
}

.volume-on {
  height: 50px;
  width: 50px;
  border-style: none;
  background-color: #FFFFFF;
  background-image: url('sound_on.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.volume-off {
  height: 50px;
  width: 50px;
  border-style: none;
  background-color: #FFFFFF;
  background-image: url('sound_off.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
